{% extends "layout.html" %}

{% block title %}
  Flack
{% endblock %}

{% block main %}
  <div style="height: 600px;" class="container-fluid">
    <div class="row">
      <!--Navigation pannel-->
      <div class="col-3 nav_pannel_top">
        <div class="user_info">
          {% if needLogin %}
            <a class="nav-link" data-toggle="modal" data-target="#modalLoginForm">Log In</a>
          {% else %}
            <p><b>{{ user_username }}</b><span style="color: green; font-size: 1em;"> ☯ online</span></p>
          {% endif %}
        </div>

        <br>

        <div class="channels">
          <span><b>Channels:</b>
            {% if not needLogin %}
              <a href="#" name="add_channel" data-toggle="modal" data-target="#modalChannelAddForm"><b>+</b></a>
            {% endif %}
          </span>

          {% if not needLogin %}
            <div id="channel_list" class="scroll m-0" style="height: 290px; background-color: #51305c;">
              {% for channel in channel_list %}
                <p> <a href="" data-channelid="{{loop.index0}}" data-channel="{{channel[0]}}" class="channel_name"> #{{ channel[0] }} </a> </p>
              {% endfor %}
            </div>

          {% else %}
            <div id="channel_list" class="scroll m-0" style="height: 290px; background-color: #51305c;">
                <p> <a href=""> Default </a> </p>
            </div>
          {% endif %}

        </div>
      </div>

      <!--Messaging area-->
      <div class="col-9 messages_area_top">
        <div ><!--header area-->
          <p id="channel_selected"></p>
        </div>
        <!--body area where all messages are displayed-->
        <div id="messages_display" class="scroll" style="height: 390px; background-color: #e0c8e8;">
          {% if needLogin %}
            <p>Please Login First</p>
          {% endif %}
          <div id="message_display">
            {{message_channel[currently_selected_channel]}}
          </div>
          <ul id="messages_view">
          </ul>
        </div>
      </div>

    </div>

    <!--below part-->
    <div class="row">
      <div class="col-3 nav_pannel_bottom">

      </div>

      <div class="col-9 messages_area_bottom">
           <!--Input area-->
          <form class="textarea_input"> <!--SUBMIT this form to:........-->
            <div class="form-group mt-3">
              <textarea class="form-control" id="textarea_input" rows="3" placeholder="Message #random" style="width: 720px;"></textarea>
            </div>
            <div class="send_message mt-4">
              {% if not needLogin %}
                <button type="button" name="send_message" id="send_message" class="btn btn-info btn-sm">Send</button>
              {% endif %}
            </div>
          </form>
      </div>
    </div>
</div>

<!--Channel_add form: }}-->
<form action="{{ url_for('add_channel') }}" method="POST"> <!--SUBMIT this form to:........-->
  <div class="modal fade" id="modalChannelAddForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Create a channel</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <small>Channels are where your team communicates. They’re best when organized around a topic — #marketing, for example.</small>
          <br>
          <label for="channel_name">Name</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">#</span>
            </div>
            <input type="text" class="form-control" name="channel_name" placeholder="eg: marketing">
          </div>

          <br>
          <label for="channel_description">Descriptions <small>(optional)</small></label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="channel_description" maxlength="50">
          </div>
          <small>What’s this channel about?</small>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-primary" type="submit" id="add_channel_submit">Create</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!--Login form:-->
<form action="{{ url_for('login') }}" method="POST"> <!--SUBMIT this form to:........-->
  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Login As</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <label for="channel_name">Display Name</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="username" placeholder="alexa" required
       minlength="4" maxlength="15">
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script type="text/javascript">
  var username = "{{user_username}}";

  document.addEventListener('DOMContentLoaded', () => {
      {% if needLogin %}
        document.querySelector("#login_button").click();
      {% endif %}
  });
</script>
{% endblock %}
